{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cours_id</th>
                <th>Matiere_id</th>
                <th>Cours_duree</th>
                <th>Background_color</th>
                <th>Text_color</th>
                <th>Border_color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.coursId }}</td>
                <td>{{ cour.matiereId }}</td>
                <td>{{ cour.coursDuree }}</td>
                <td>{{ cour.backgroundColor }}</td>
                <td>{{ cour.textColor }}</td>
                <td>{{ cour.borderColor }}</td>
                <td>
                    <a href="{{ path('calendar_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('calendar_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calendar_new') }}">Create new</a>
{% endblock %}
