{% extends 'base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Intervenant</th>
                <th>Matiere</th>
                <th>Duree</th>
                <th>Debut du cours</th>
                <th>Fin du cours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affectation_matiere in affectation_matieres %}
            <tr>
                <td>{{ affectation_matiere.id }}</td>
                <td>{{ affectation_matiere.intervenantId }}</td>
                <td>{{ affectation_matiere.matiereId }}</td>
                <td>{{ affectation_matiere.duree }}</td>
                <td>{{ affectation_matiere.intervalleDebut ? affectation_matiere.intervalleDebut|date('Y-m-d') : '' }}</td>
                <td>{{ affectation_matiere.intervalleFin ? affectation_matiere.intervalleFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('affectation_matiere_show', {'id': affectation_matiere.id}) }}">show</a>
                    <a href="{{ path('affectation_matiere_edit', {'id': affectation_matiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun cours trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('affectation_matiere_new') }}">Creer un nouvelle horaire</a>
{% endblock %}
