{% extends 'base.html.twig' %}

{% block title %}AffectationMatiere{% endblock %}

{% block body %}
    <h1>AffectationMatiere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affectation_matiere.id }}</td>
            </tr>
            <tr>
                <th>Intervenant_id</th>
                <td>{{ affectation_matiere.intervenantId }}</td>
            </tr>
            <tr>
                <th>Matiere_id</th>
                <td>{{ affectation_matiere.matiereId }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ affectation_matiere.duree }}</td>
            </tr>
            <tr>
                <th>Intervalle_debut</th>
                <td>{{ affectation_matiere.intervalleDebut ? affectation_matiere.intervalleDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Intervalle_fin</th>
                <td>{{ affectation_matiere.intervalleFin ? affectation_matiere.intervalleFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('affectation_matiere_index') }}">back to list</a>

    <a href="{{ path('affectation_matiere_edit', {'id': affectation_matiere.id}) }}">edit</a>

    {{ include('affectation_matiere/_delete_form.html.twig') }}
{% endblock %}
