
<h1>Planning Annuel de {{ user }}</h1>
<h2>Année courante : {{ year }}</h2>

{# Style #}
<style>
    table, th, td {
        border:1px solid black;
        width: 20px;
        text-align: center;
    }

</style>

{# Draw schedule #}
<table style="width:100%">

    <thead>
        <tr>
            {% for column in columns_header %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for content_column in schedule_content %}
            <tr>
                {# <td>{{ line }}</td> #}
                {% for line in content_column  %}
                    <td>{{ line }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>

</table>


